<div class="cbp-loadMore-block1">
    <div class="cbp-item identity">
        <a href="../assets/global/img/portfolio/1200x900/08.html" class="cbp-caption cbp-lightbox" data-title="Remind~Me More<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/1200x900/08.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Remind~Me More</div>
                        <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item web-design motion">
        <a href="../assets/global/img/portfolio/1200x900/8.html" class="cbp-caption cbp-lightbox" data-title="Remind~Me Widget<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/34.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Remind~Me Widget</div>
                        <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item identity">
        <a href="../assets/global/img/portfolio/1200x900/09.html" class="cbp-caption cbp-lightbox" data-title="Smart Searchy<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/35.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Smart Searchy</div>
                        <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item web-design">
        <a href="../assets/global/img/portfolio/1200x900/9.html" class="cbp-caption cbp-lightbox" data-title="Workout Buddy<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/36.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Workout Buddy</div>
                        <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item graphic logos">
        <a href="../assets/global/img/portfolio/1200x900/11.html" class="cbp-caption cbp-lightbox" data-title="Story Book<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/37.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Story Book</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item graphic">
        <a href="../assets/global/img/portfolio/1200x900/12.html" class="cbp-caption cbp-lightbox" data-title="Space Trip<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/38.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Space Trip</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item logos motion">
        <a href="../assets/global/img/portfolio/1200x900/13.html" class="cbp-caption cbp-lightbox" data-title="Digital Menu<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/39.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Digital Menu</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="cbp-loadMore-block2">
    <div class="cbp-item web-design">
        <a href="../assets/global/img/portfolio/1200x900/14.html" class="cbp-caption cbp-lightbox" data-title="21 Degrees<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/40.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">21 Degrees</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item identity">
        <a href="../assets/global/img/portfolio/1200x900/15.html" class="cbp-caption cbp-lightbox" data-title="Mountaineer<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/41.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Mountaineer</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item web-design logos">
        <a href="../assets/global/img/portfolio/1200x900/16.html" class="cbp-caption cbp-lightbox" data-title="Timezone Mgmt<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/42.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Timezone Mgmt</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item identity">
        <a href="../assets/global/img/portfolio/1200x900/17.html" class="cbp-caption cbp-lightbox" data-title="Holiday Selector<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/43.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Holiday Selector</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item graphic motion">
        <a href="../assets/global/img/portfolio/1200x900/18.html" class="cbp-caption cbp-lightbox" data-title="Augmented Tourist<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/44.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Augmented Tourist</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item logos motion">
        <a href="../assets/global/img/portfolio/1200x900/19.html" class="cbp-caption cbp-lightbox" data-title="Bills Bills Bills<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/45.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Bills Bills Bills</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item graphic">
        <a href="../assets/global/img/portfolio/1200x900/20.html" class="cbp-caption cbp-lightbox" data-title="Ultramarine Admin<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/46.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Ultramarine Admin</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="cbp-loadMore-block3">
    <div class="cbp-item identity">
        <a href="../assets/global/img/portfolio/1200x900/21.html" class="cbp-caption cbp-lightbox" data-title="Travelling Wip<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/47.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Travelling Wip</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item logos">
        <a href="../assets/global/img/portfolio/1200x900/22.html" class="cbp-caption cbp-lightbox" data-title="Travelling Map Wip<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/48.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Travelling Map Wip</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item identity motion">
        <a href="../assets/global/img/portfolio/1200x900/23.html" class="cbp-caption cbp-lightbox" data-title="Grid Creator<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/49.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Grid Creator</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item web-design">
        <a href="../assets/global/img/portfolio/1200x900/24.html" class="cbp-caption cbp-lightbox" data-title="Flat Roman Typeface Ui<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/1200x900/24.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Flat Roman Typeface Ui</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item graphic motion">
        <a href="../assets/global/img/portfolio/1200x900/25.html" class="cbp-caption cbp-lightbox" data-title="Easy Note<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/50.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Easy Note</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item web-design">
        <a href="../assets/global/img/portfolio/1200x900/26.html" class="cbp-caption cbp-lightbox" data-title="Student Guide<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/51.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Student Guide</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="cbp-item graphic">
        <a href="../assets/global/img/portfolio/1200x900/27.html" class="cbp-caption cbp-lightbox" data-title="Geo Tagging<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/1200x900/52.html" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Geo Tagging</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>