<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="row">
            <div class="col-sm-6 portfolio-tile">
                <a href="../assets/global/img/portfolio/1200x900/9.html" class="cbp-lightbox">
                    <img src="../assets/global/img/portfolio/600x600/11.html" alt=""> </a>
            </div>
            <div class="col-sm-6 portfolio-tile">
                <a href="../assets/global/img/portfolio/1200x900/13.html" class="cbp-lightbox">
                    <img src="../assets/global/img/portfolio/600x600/12.html" alt=""> </a>
            </div>
            <div class="col-sm-6">
                <a href="../assets/global/img/portfolio/1200x900/15.html" class="cbp-lightbox">
                    <img src="../assets/global/img/portfolio/600x600/23.html" alt=""> </a>
            </div>
            <div class="col-sm-6">
                <a href="../assets/global/img/portfolio/1200x900/18.html" class="cbp-lightbox">
                    <img src="../assets/global/img/portfolio/600x600/14.html" alt=""> </a>
            </div>
        </div>
    </div>
    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Bolt UI</div>
        <div class="cbp-l-inline-subtitle">by Tiberiu Neamu</div>
        <div class="cbp-l-inline-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem
            voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</div>
        <a href="#" target="_blank" class="cbp-l-inline-view btn blue btn-outline">VIEW PROJECT</a>
    </div>
</div>