<div class="portfolio-content">
    <div class="cbp-l-project-title">Dashboard</div>
    <div class="cbp-l-project-subtitle">by Paul Flavius Nechita</div>
    <div class="cbp-slider">
        <ul class="cbp-slider-wrap">
            <li class="cbp-slider-item">
                <a href="../assets/global/img/portfolio/1200x900/06.html" class="cbp-lightbox">
                    <img src="../assets/global/img/portfolio/1200x900/06.html" alt=""> </a>
            </li>
            <li class="cbp-slider-item">
                <a href="../assets/global/img/portfolio/1200x900/08.html" class="cbp-lightbox">
                    <img src="../assets/global/img/portfolio/1200x900/08.html" alt=""> </a>
            </li>
            <li class="cbp-slider-item">
                <a href="../assets/global/img/portfolio/1200x900/77.html" class="cbp-lightbox">
                    <img src="../assets/global/img/portfolio/1200x900/77.html" alt=""> </a>
            </li>
        </ul>
    </div>
    <div class="cbp-l-project-container">
        <div class="cbp-l-project-desc">
            <div class="cbp-l-project-desc-title">
                <span>Project Description</span>
            </div>
            <div class="cbp-l-project-desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem
                voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae aut
                ipsa non ex ullam atque suscipit ut dignissimos magnam!</div>
        </div>
        <div class="cbp-l-project-details">
            <div class="cbp-l-project-details-title">
                <span>Project Details</span>
            </div>
            <ul class="cbp-l-project-details-list">
                <li>
                    <strong>Client</strong>John Doe</li>
                <li>
                    <strong>Date</strong>22 December 2013</li>
                <li>
                    <strong>Categories</strong>Logo, Graphic</li>
            </ul>
            <a href="#" target="_blank" class="cbp-l-project-details-visit btn red uppercase">visit the site</a>
        </div>
    </div>
    <div class="cbp-l-project-container">
        <div class="cbp-l-project-related">
            <div class="cbp-l-project-desc-title">
                <span>Related Projects</span>
            </div>
            <ul class="cbp-l-project-related-wrap">
                <li class="cbp-l-project-related-item">
                    <a href="../assets/global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                        <img src="../assets/global/img/portfolio/600x600/1.html" alt="">
                        <div class="cbp-l-project-related-title">Speed Detector</div>
                    </a>
                </li>
                <li class="cbp-l-project-related-item">
                    <a href="../assets/global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                        <img src="../assets/global/img/portfolio/600x600/5.html" alt="">
                        <div class="cbp-l-project-related-title">World Clock Widget</div>
                    </a>
                </li>
                <li class="cbp-l-project-related-item">
                    <a href="../assets/global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                        <img src="../assets/global/img/portfolio/600x600/27.html" alt="">
                        <div class="cbp-l-project-related-title">To-Do Dashboard</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br> </div>